<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "global/components/metadata.html" %}
    <title>{% block title %}{% endblock title %} | Recipes</title>
</head>

<body>
    {% include 'global/components/header.html' %}
    {% include 'recipes/components/search.html' %}
    
    <main class="main-content container">
        {% block content %}{% endblock content %}
        {% include "recipes/components/pagination.html" %}
    </main>
    {% include 'global/components/footer.html' %}
</body>

</html>