<!DOCTYPE html>
<html lang="pt-br">
{% include "recipes/components/head.html" %}

<body>
    {% include 'recipes/components/header.html' %}
    <div class="search-container">
        <div class="container">
            <form action="" class="search-form">
                <input type="search" class="search-input" name="search">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
            {% include 'recipes/components/recipe.html' %}
        </div>
    </main>
    {% include 'recipes/components/footer.html' %}
</body>

</html>